<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentAuditsMapper">

    <resultMap id="BaseResultMap" type="com.example.model.entity.StudentAudits">
            <id property="auditId" column="audit_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="auditImageUrl" column="audit_image_url" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="studentid" column="studentId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        audit_id,user_id,state,
        remarks,audit_image_url,created_at,
        updated_at,studentId
    </sql>
</mapper>
